$note-border-radius = 0;

$content-desktop-large   = 65em
$content-desktop-largest = 65%

// Font size of articles.
// $font-size-base = 15px;
// Font size of table and code.
// $table-font-size = 15px;
